.container{
    width: 100vw;
    
    
    display: flex;
   
    gap: 20px;
    overflow: hidden;
    box-shadow: black;
    

}

.box{
    width: 450px;
    height: 600px;
    border: 5px solid gray;
    
    overflow: hidden;
    border-radius: 20px;
    align-items: right;
    justify-content: center;
    text-align: center;
}

.heading{
    height: 250px;
    background-color: blue;
    text-align: center;
    

}
.under{
    padding-top: 20px;
    
}

.btn{
    padding: 10px 20px;
    margin-top: 30px;
    gap: 10px;
    border-radius: 20px;
    background-color: blue;
}